* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.all {
  background-color: rgb(24, 23, 23);
}
body {
  color: rgb(247, 243, 243);
  /* background-color: rgb(24, 23, 23); */
}
h3 {
  font-size: 2rem;
  font-weight: 500;
}
/* beginining of navbar */

.logo img {
  width: 5rem;
  /* opacity: 0.1; */
}

nav ul li {
  list-style: none;
}

.all .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: 0.3s ease background-color;
}
.all .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
.all .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}
.all .nav-list ul.active {
  left: 0%;
}
.all .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  display: block;
}
.all .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}
.all .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}
.all .nav-list ul li:hover a,
.all .nav-list ul li .current {
  color: rgb(197, 195, 195);
}

.all .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}

.all .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;

  animation: hamburger_puls 1s ease infinite;
}

@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
.all .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}
.all .hamburger .bar::after,
.all .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
.all .hamburger .bar::after {
  top: 8px;
}
.all .hamburger .bar::before {
  bottom: 8px;
}
.all .hamburger.active .bar::before {
  bottom: 0;
}
.all .hamburger.active .bar::after {
  top: 0;
}
/* end of navbar */

/* sub link */
#sub-link,
a {
  list-style: none;
  text-decoration: none;
  /* color: black;  */
  color: rgb(247, 243, 243);
}

#first-word {
  text-align: center;
  padding: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 6rem;
}
button {
  width: 15rem;
  height: 4rem;
  background-color: transparent;
  padding: 2rem;
}
/* for hovering */
/* .main .link #sub-link li button:hover{
    background-color:  rgb(247, 243, 243);   
}

.main .link #sub-link li button a:hover{
    color: black;
} */

.link {
  display: flex;
  justify-content: space-around;
}

.online {
  padding-left: 1rem;
}

.link #sub-link,
button {
  display: flex;
  align-items: center;
  margin: 2rem;
  transition: all 1s ease-in-out;
}

#sub-link button:hover {
  border-radius: 15px;
  background-color: black;
}
.main {
  background-color: rgb(24, 23, 23);
}

.main #final-link {
  display: flex;
  justify-content: center;
  transition: all 1s ease-in-out;
}

.main #final-link button:hover {
  border-radius: 15px;
  background-color: black;
}

/* end of sub link */

/* about styling */

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2rem 0;
  grid-gap: 1rem;
}

.main-heading {
  font-size: 3rem;
  font-style: italic;
}

.card {
  background: rgb(31, 30, 30);
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 2px 3px 5px rgba(68, 34, 34, 0.2);
}

.side-card {
  background: rgb(31, 30, 30);
  padding: 1rem;
  border-radius: 15px;
  height: 50%;
  box-shadow: -2px -3px 5px rgba(68, 34, 34, 0.2);
}

.mobile-side-card {
  background: rgb(31, 30, 30);
  padding: 1rem;
  border-radius: 15px;
  box-shadow: -2px -3px 5px rgba(68, 34, 34, 0.2);
  display: none;
}

/* M.A.P */
.program {
  background: rgb(31, 30, 30);
  text-align: center;
  border-radius: 1rem;
  margin: 2rem 3rem;
  box-shadow: 2px 3px 5px rgba(68, 34, 34, 0.2);
}

.program h4 {
  font-size: 3rem;
  font-style: italic;
}

.program h5 {
  font-size: 1.5rem;
  font-style: oblique;
}

.program p {
  padding: 5px;
}

.monthly-programs {
  text-align: center;
  padding-bottom: 1rem;
}

/* contact us */

.py-3 {
  padding: 30px 0;
}
.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

#contact-form {
  /* margin-left: 29rem; */
  text-align: center;
  margin-top: 5rem;
}

#contact-form .form-group {
  margin-bottom: 20px;
}

#btn {
  transition: all 1s ease-in-out;
}

#btn:hover {
  border-radius: 15px;
  background-color: black;
}
.contact-all{
  background: linear-gradient(to top left, #ed0af5, #797676);
}


#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 50%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}
/* end of contact us */

/* end of M.A.P */

/* rgb(48, 47, 47); */

/* footer */
.f-container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: rgb(31, 30, 30);
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 20px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col li a:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: block;
  height: 40px;
  width: 40px;
  margin-right: 0 10px 10px 0;
}

/* .p-subscribe {
  padding-bottom: px;
} */

.subscribe {
  background: rgba(88, 4, 4, 0.2);
  color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 50%;
}

.footer-col input[type="email"] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 15px;
}

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
  .all .hamburger {
    display: none;
  }
  .all .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  .all .nav-list ul li {
    display: inline-block;
  }
  .all .nav-list ul li a {
    font-size: 1.5rem;
  }
  .all .nav-list ul a:after {
    display: none;
  }
}
