/* home */

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
.link {
    display: grid;
    justify-content: space-around;
  }
  
  .link #sub-link,
  #final-link {
    display: grid;
    align-items: center;
    transition: all 1s ease-in-out;
    grid-gap: 1rem;
  }


  .online{
    padding-left: 1.5rem;
  }

  /* m.a.p */
  .monthly-programs{
    margin-top: 5rem;
  }


/* about us */
.card {

 margin-top: 5rem;
}

.side-card {

  display: none;
}

.mobile-side-card {
margin-left: 1rem;
margin-right: 1rem;
  display: block;
  text-align: center;

}

/* footer */

.subscribe {
    width: 80%;
  }

  
.footer-col input[type="email"]{
  width: 80%;
}
@media (max-width: 780px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
